#root {
  --bg-primary: #fff0f5;
  --bg-secondary: #ffffff;
  --text-primary: #5c4a5a;
  --accent-primary: #ff8fab;
  --accent-secondary: #ffc8dd;
  font-family: 'Quicksand', sans-serif;
}

.manager-page-header .user-page-header {
  font-size: 1.5rem;
  line-height: 1.1rem;
  border-bottom: 2px solid var(--border-edge);
}
