.manager-page-header {
  font-size: 1.5rem;
  line-height: 1.1rem;
  border-bottom: 2px solid var(--border-edge);
}

.manager-page-tabs {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 20px;
  font: 1rem;
  padding-bottom: 10px;
  border-bottom: 2px solid var(--border-edge);
}

.input-style.search-input {
  font-size: 1.1rem;
  padding: 0.5rem 1rem;
  width: 60%;
}

.manager-page-tabs  {
  display: flex;
  gap: 20px;
  margin: 20px 0;
  font: 1rem;
}

.manager-page-tabs .btn-tab {
  background-color: var(--accent-secondary);
  border-radius: 12px;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  color: var(--text-primary);
  font-size: 1rem;
  font-weight: 700;

}
.manager-page-tabs .btn-tab.active {
  background-color: var(--accent-primary);
  color: #fff
}