 .user-page-header {
  display: flex;
  flex-direction: row;
  font-size: 1.5rem;
  line-height: 1.1rem;
  border-bottom: 2px solid var(--border-edge);
}

.input-style {
  font-size: 1rem;
}

.user-page-content{
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  /* align-items: center; */
}